.container{
    display:grid ;
align-content:start ;
color: red;
background-color: rgb(7, 166, 7); color: yellow;
 font-family: Arial, Helvetica, sans-serif;
}

.buttons:hover {
    background-color: yellow;
}

.responsive {
width: auto;
height: auto;

}



header {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    

}

h3 {
    font-family: 'Times New Roman', Times, serif;
    
}
#vote{
    background-color: skyblue;
}